<header class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light blue bg-blue">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <a routerLink="/home" class="text-center navbar-brand text-white"><img src="assets/logo.png" width="150" height="40"></a>
                <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>

                <li class="nav-item dropdown">
                    <button class="nav-link text-white btn btn-morado" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-gamepad"></i> 
                            Consolas
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-microchip"></i>
                             Procesadores
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-wifi"></i>
                            Redes
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-desktop"></i> 
                            Pantallas
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-keyboard-o"></i> 
                            Teclados
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-mouse-pointer"></i>
                             Mouse
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-battery-three-quarters"></i>
                             Baterías
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-database"></i>
                             Almacenamiento
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-laptop"></i>
                            Laptops
                       </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-headphones"></i>
                        Audifonos
                         </a>
                    </div>
                </li>

                <li class="nav-item dropdown ml-1">
                    <button class="nav-link text-white btn btn-morado" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Contáctanos!!
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><i class="fa fa-facebook"></i> 
                            Facebook
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-whatsapp"></i>
                             WhatssApp
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-instagram"></i>
                            Instagram
                        </a>
                        <a class="dropdown-item" href="#"><i class="fa fa-envelope"></i> 
                            Correo Electrónico
                        </a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <button *ngIf="estaLogueado" class="btn btn-morado my-2 my-sm-0" type="submit"><i class="fa fa-cart-plus"></i>Carrito</button>

                <a routerLink="/producto"><button *ngIf="estaLogueado" class="btn btn-morado my-2 mx-1 my-sm-0" type="submit"><i class="fa fa-product-hunt"></i>Agregar producto</button></a>

                <button *ngIf="estaLogueado" class="btn btn-danger my-2 mx-1 my-sm-0" type="button" name="button" (click)="salir()">Cerrar sesión</button>

                <a routerLink="login"><button *ngIf="!estaLogueado" class="btn btn-primary my-2 mx-1 my-sm-0" type="button" name="button">Iniciar sesión</button></a>

            </form>
        </div>
    </nav>
</header>