<div style="text-align: center;">
    <h2 class="mt-3">Agregar producto</h2>
</div>

<div class="centrar">
    <form>
        <div class="form-group">
            <form [formGroup]="productoForm">
                <!--CARGAR IMAGEN-->
                <div class="form-group ">
                    <label>Imagen</label>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Seleccionar imagen</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                </div>
                <!--TITULO-->
                <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" formControlName="titulo" class="form-control ">
                </div>
                <!--PRECIO-->
                <div class="form-group">
                    <label>Precio</label>
                    <input type="number" formControlName="precio" class="form-control ">
                </div>
                <!--TIPO DE PRODUCTO-->
                <div class="form-group">
                    <label>Tipo</label>
                    <select type="text" class="form-control custom-select" formControlName="tipo">
                        <optgroup disable selected label="Tipo de producto">
                          <option value="1">Consolas</option>
                          <option value="2">Procesadores</option>
                          <option value="3">Redes</option>
                          <option value="4">Pantallas</option>
                          <option value="5">Teclados</option>
                          <option value="6">Mouse</option>
                          <option value="7">Baterías</option>
                          <option value="8">Almacenamiento</option>
                          <option value="9">Laptops</option>
                          <option value="10">Audifonos</option>
                        </optgroup>
                    </select>
                </div>
            </form>
            <button type="button" class="btn btn-outline-dark ml-1 mt-1" (click)="guardarProducto()">Guardar</button>
        </div>
    </form>
</div>




<div class="container">
    <div class="card-deck mt-5">
        <div class="card" *ngFor="let item of collection.data">
            <img src="../../assets/3090.png " class="card-img-top" alt="... ">
            <div class="card-body">
                <p class="card-text">{{item.titulo}}</p>
                <p class="card-text text-success">$ {{item.precio}}</p>
                <div class=" d-flex flex-row-reverse">
                    <button class="btn btn-primary mx-1"><i class="fa fa-shopping-cart"> Agregar</i></button>
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>