.centrar {
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

img.card-img-top {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}