<div class="mt-5">
    <div class="container">
        <form (ngSubmit)="onSubmit(registroForm)" #registroForm="ngForm">

            <span class="text-white p-b-51">
                <h1 class="text-white">Crear nueva cuenta</h1>
                </span>

            <span class="text-danger animated fadeIn" *ngIf="registroForm.submitted && registroForm.controls['email'].errors">
                El correo es obligatorio
                </span>
            <div class="mt-3">
                <input class="form-control" type="text" [(ngModel)]="usuario.email" name="email" placeholder="Email" required email>

                <span class="focus-input100"></span>
            </div>

            <span class="text-danger animated fadeIn" *ngIf="registroForm.submitted && registroForm.controls['nombre'].errors">
                El nombre es obligatorio
                </span>
            <div class="mt-3">
                <input class="form-control" type="text" minlenght="2" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Nombre y apellidos" required>

                <span class="focus-input100"></span>
            </div>

            <span class="text-danger animated fadeIn" *ngIf="registroForm.submitted && registroForm.controls['pass'].errors">
                La contraseña debe de ser más de 6 letras
                </span>
            <div class="mt-3" data-validate="Password is required">
                <input class="form-control" type="password" minlenght="6" [(ngModel)]="usuario.password" name="pass" placeholder="Password" required>
                <span class="focus-input100"></span>
            </div>

            <div class="mt-3">
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" [(ngModel)]=recordarme id="ckb1" type="checkbox" name="remember-me">
                    <label class="ml-2" for="ckb1">
                        Recordar mi usuario
                        </label>
                </div>

                <div>
                    <a routerLink="/login" class="text-warning">
                        ¿Ya tienes cuenta? Ingresa
                    </a>
                </div>
            </div>

            <div class="mt-3">
                <button class="btn btn-primary" type="submit">
                     Crear cuenta
                </button>
            </div>

        </form>
    </div>
</div>