<div class="container">
    <div class="alert alert-primary mt-0">
        <b>CONSOLAS DE VIDEOJUEGOS</b>
    </div>

    <div class="card-deck mt-5 ">
        <div class="card" *ngFor="let item of collection.data">
            <img src="{{item.src}}" class="card-img-top " alt="... ">
            <div class="card-body ">
                <b><p class="card-text ">{{item.titulo}}</p></b>
                <p class="card-text text-success"> $ {{item.precio}}</p>
                <p class="card-text text-purple mb-2">{{item.descripcion}}</p>
                <div class=" d-flex flex-row-reverse">
                    <button (click)="addToCart(item)" class="btn btn-primary mx-1">
                        <i class="fa fa-shopping-cart"> Agregar</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck mt-5 ">
        <div class="card" *ngFor="let item of collection2.data">
            <img src="{{item.src}}" class="card-img-top " alt="... ">
            <div class="card-body ">
                <b><p class="card-text ">{{item.titulo}}</p></b>
                <p class="card-text text-success "> $ {{item.precio}}</p>
                <p class="card-text text-purple mb-2">{{item.descripcion}}</p>
                <div class=" d-flex flex-row-reverse">
                    <button (click)="addToCart(item)" class="btn btn-primary">
                        <i class="fa fa-shopping-cart"> Agregar</i>
                    </button>
                </div>
            </div>
        </div>
    </div>