*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.blue {
    background: #242a33;
    color: #fff;
}

.navbar {
    padding: 10px 10%;
    position: fixed;
}

#logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
}

#link {
    color: #fff;
    font-weight: bold;
    margin: 0 10px;
}

i {
    margin: 0 7px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    bottom: 0%;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px 10px 10px 20px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #000000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
}

@media (max-width:800px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
    #sidebarCollapse span {
        display: none;
    }
    .card {
        width: 100%;
    }
}

@media (max-width:400px) {
    #sidebar {
        margin-top: -20px;
    }
    #logo {
        display: none;
    }
}