<div class="container">
    <h1 class="text-center">DATOS PARA EL ENVÍO</h1>
    <form [formGroup]="comprar" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input formControlName="nombre" type="text" class="form-control mt-2" placeholder="Nombre">
            <div *ngIf="submitted && f.nombre.invalid" class="text-danger animated fadeInDown">Por favor, ingrese su nombre</div>
        </div>

        <div class="form-group">
            <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido">
            <div *ngIf="submitted && f.apellido.invalid" class="text-danger animated fadeInDown">Por favor, ingrese su apellido</div>
        </div>

        <div class="form-group">
            <label for="validationServer04">Ciudad</label>
            <select formControlName="ciudad" class="custom-select" id="validationServer04" required>
                <option selected disabled>Seleccionar</option>
                <option>Soyapango</option>
                <option>San Salvador</option>
                <option>Ilopango</option>
                <option>Mejicanos</option>
                <option>San Marcos</option>
                <option>Ciudad Delgado</option>
                <option>Apopa</option>
            </select>
            <div *ngIf="submitted && f.ciudad.invalid" class="text-danger animated fadeInDown">Por favor, ingrese su ciudad</div>
        </div>

        <div class="form-group">
            <input formControlName="direccion" type="text" class="form-control" placeholder="Dirección" required>
            <div *ngIf="submitted && f.direccion.invalid" class="text-danger animated fadeInDown">Por favor, ingrese su dirección</div>
        </div>

        <div class="form-group">
            <input formControlName="celular" type="number" class="form-control" placeholder="Celular" minlength="8" required>
            <div *ngIf="submitted && f.celular.invalid" class="text-danger animated fadeInDown">Por favor, ingrese su número de celular</div>
        </div>

        <div class="form-group">
            <label for="validationServer04">Método de pago</label><br>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" value="1">
                <label class="form-check-label" for="materialInline1">Efectivo</label>
            </div>

            <!-- Material inline 2 -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample" value="2">
                <label class="form-check-label" for="materialInline2">Tarjeta</label>
            </div>
        </div>

        <!-- -----------TARJETAS------------ -->
        <form action="#" class="credit-card-div">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="row ">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Ingrese su número de tarjeta" />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font"> Mes de vencimiento</span>
                            <input type="text" class="form-control" placeholder="MM" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font">  Año de vencimiento</span>
                            <input type="text" class="form-control" placeholder="YY" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font"> CCV</span>
                            <input type="text" class="form-control" placeholder="CCV" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="../../../assets/tarjetab.jpg">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 pad-adjust">

                            <input type="text" class="form-control" placeholder="Nombre de titular" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad-adjust">
                            <div class="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="mt-3">
            <input class="ml-1" id="ckb1" type="checkbox" name="remember-me" formControlName="checkbox">
            <label class="ml-2" for="ckb1">
                Estoy de acuerdo con los términos y condiciones
            </label>
            <div *ngIf="submitted && f.checkbox.invalid" class="text-danger animated fadeInDown">Debe de estar de acuerdo con los términos y condiciones</div>
        </div>

        <button class="btn btn-primary mt-2" type="submit">Realizar compra</button>
    </form>
</div>