<footer>
    <div class="container-footer-all mt-5">

        <div class="container-body">

            <div class="colum1">
                <h1 class="text-white">TECNOPLUS</h1>

                <p>Somos una tienda de tecnologia expertos en hardware y software te ayudamos a elegir tus componentes a la medida que tu los deseas.</p>

            </div>

            <div class="colum2">

                <h1 class="text-white">Redes Sociales</h1>
                <ul class="list-unstyled">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-facebook"></i> 
                         Facebook
                     </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-whatsapp"></i>
                         WhatssApp
                    </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-instagram"></i>
                         Instagram
                     </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-envelope"></i> 
                         Correo Electrónico
                     </a>
                </ul>

            </div>

        </div>
        &copy; {{anio}} TecnoPlus
    </div>
</footer>